section{
  padding: 2rem 1.5rem 60vh;
  max-width: 80ch;
  @include tablet{
    padding: 2rem 3rem 90vh;
  }
  @include print{
    padding-bottom: 0;
    max-width: none;
  }
  article{
    @include print{
      display: flex;
      line-height: 1.125em;
    }
  }
  h2{
    text-align: center;
    @include print{
      text-align: right;
      font-size: 18pt;
      white-space: nowrap;
      padding-right: 2rem;
      min-width: 4em;
    }
    i{
      font-style: normal;
      display: inline-block;
      margin-left: .25rem;
      margin-top: 13pt;
    }
  }
  h3{
    margin-top: 0;
  }
  :target{
    padding-top: 7rem;
    animation: highlightText .33s ease-in-out; /* Animation properties */
    animation-delay: 1s;
    animation-iteration-count: 3;
    z-index: -1;
    position: relative;
    text-decoration: underline .1em wavy var(--link-color-active);
  }
}

@keyframes highlightText{
  0%{
    color: var(--primary-color);
  }
  50%{
    color: var(--link-color-active);
  }
  100%{
    color: var(--primary-color);
  }
}