:root{
  --primary-color: #000;
  --secondary-color: #fff;
  --brand-primary-color: #393839;
  --brand-secondary-color: #5590cc;
  --link-color: #3498db;
  --link-color-active: #eec223;
  --link-color-active-alternative: #e74c3c;
}